<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yy.myrent.mapper.HouseMapper">

    <select id="selectForUpdateById" resultType="cn.yy.myrent.entity.House" parameterType="java.lang.Long">
        select * from house where id = #{id} for update
    </select>
</mapper>
